

<h1>New task</h1>

<%# Task Title %>
<%# Task Details %>
<%= form_for(@task) do |t| %>
  <div class="task-form">
    <h4>Title</h4>
    <%= t.text_field :title %>
  </div>

  <div class="task-form">
    <h4>Details</h4>
    <%= t.text_field :details %>
  </div>

<%# Submit Button %>
   <div class="task-form">
    <%= t.submit value: "Create Task"%>
  </div>
<% end %>


  <%# <%= t.check_box :status %>
